@page "/"

@rendermode InteractiveServer

<PageTitle>Farmacia Similares</PageTitle>



    <header>

        <nav class="nav-page">
            <ul>
                <div class="logo-img">
                    <img src="/img/logo-similares.png" alt="">
                </div>
                <li><a href="/">Inicio</a></li>
                <li><a href="/catalogo">Catálogo</a></li>
                <li><a href="/sistemaCRUD">Registrarte</a></li>
                <li><a href="/venta">Historial</a></li>
            </ul>

        </nav>

    </header>

    <div class="banner-container">
        <img src="img/anuncion.jpg" alt="Súper Descuentos" class="banner-img">
    </div>

    <h2 class="titulo-seccion">Recomendaciones de la semana</h2>

    <section class="recomendaciones-semana">
        <div class="card">
            <img src="/img/paras.webp" alt="Producto 1">
            <p>Vitasimi Senior</p>
            <span>$350.00</span>
            <button>Saber más</button>
        </div>

        <div class="card">
            <img src="/img/paras.webp" alt="Producto 2">
            <p>Vitasimi Dectrone</p>
            <span>$350.00</span>
            <button>Saber más</button>
        </div>

        <div class="card">
            <img src="/img/paras.webp" alt="Producto 3">
            <p>Simisun FPS 50+</p>
            <span>$420.00</span>
            <button>Saber más</button>
        </div>

        <div class="card">
            <img src="/img/paras.webp" alt="Producto 4">
            <p>Simisun FPS 50+</p>
            <span>$420.00</span>
            <button>Saber más</button>
        </div>
    </section>

    <footer>
        <p>&copy; 2026 Farmacias Similares. Todos los derechos reservados.</p>
    </footer>

